@import '../../../styles/fonts.scss';
@import '../../../styles/media.scss';

.politicaPrivacidad{
    margin-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 100px;
    h1{
        font-family: 'jost';
        font-weight: 400px;
        font-size: 25px;
        padding-top: 40px; 
    }
    h2{
        font-family: 'jost';
        font-weight: 400px;
        font-size: 20px;
    }
    p{
        font-family: 'jost';
        font-weight: 400px;
        font-size: 14px;
    }
    li{
        font-family: 'jost';
        font-weight: 400px;
        font-size: 14px;
    }
}

.logoemails{
    width: 100px;
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    
}
@include desktop {
    .politicaPrivacidad{
        margin-top: 100px;
        margin-left: 96px;
        margin-right: 96px;
        margin-bottom: 120px;
        h1{
            font-family: 'jost';
            font-weight: 400px;
            font-size: 35px;
            padding-top: 50px;
        }
        h2{
            font-family: 'jost';
            font-weight: 400px;
            font-size: 32px;
        }
        p{
            font-family: 'jost';
            font-weight: 400px;
            font-size: 18px;
            line-height: 1.8;
        }
        li{
            font-family: 'jost';
            font-weight: 400px;
            font-size: 18px;
        }
    }
}